# GoTr-Ail V25 - esclusioni
.dart_tool/
.gradle/
.idea/
.vscode/
build/
**/build/
.cxx/
**/.cxx/
local.properties
**/local.properties
*.apk
*.aab
*.ipa
*.keystore
*.jks
*.log
*.tmp
*.rar
*.7z
*.zip
*.mp4
*.mkv
*.avi
*.mov
password.txt
password.md
_GIT_BACKUP/
**/_GIT_BACKUP/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/
.DS_Store
desktop.ini
*.mwm
*.mwm.ready
*.mwm.routing
